<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.leisure">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DownloadChapterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.DownloadChooseChapterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DownloadComicActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ComicDetailsActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.ChapterActivity" />
        <activity
            android:name=".activity.ComicContentActivity"
            android:theme="@style/MyTheme" />
        <activity android:name=".activity.JokeDetailsActivity" />
        <activity android:name=".activity.MusicDetailsActivity" />
        <activity android:name=".activity.MusicChannelDetailsActivity" />
        <activity android:name=".activity.SearchComicActivity" />
        <activity android:name=".activity.LogonActivity" />
        <activity android:name=".activity.FindPwdActivity" />
        <activity android:name=".activity.LogonDevelopActivity" />
        <!--        <activity-->
        <!--            android:name=".test.TestCustomViewActivity"-->
        <activity android:name=".activity.MainActivity"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.TestService1Activity" />
        <activity android:name=".test.TestJPushActivity" />

        <!-- 注册继承JCommonService的服务 -->
        <service
            android:name=".service.XService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- 替换原生极光推送接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.example.leisure" /> <!--JPush上注册的包名 -->
            </intent-filter>
        </receiver>

        <service android:name=".service.DownloadService" />
        <service android:name=".test.TestService" />
    </application>

</manifest>